{% extends 'base.html' %}

{% block maincontent %}
<form class="w3-container" action="/predict" method="POST" enctype="multipart/form-data">   
    <p>Job Description <a target="_blank" class="" href="{{ url_for('static', filename='dataset/Job description.pdf') }}">link</a></p> 
    <p>      
        <label class="">Resume PDF</label>
        <input type="file" name="resume" accept=".pdf" required>
    </p>
    <p><button type="submit" class="w3-btn w3-padding w3-green" style="width:133px">Calculate &nbsp; ❯</button></p>
    <p class="w3-text-grey">Calculate the match percentage of a candidate who fits the job role based on the job description.</p>
</form>
{% endblock %}